<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p>{{ content }}</p>
    </body>
    {% for item in item_list %}
    <li>{{ item }}</li>
    {% endfor %}
</html>
