<html>
    <head>
        <title>{% raw %}{{{% endraw %} title {% raw %}}}{% endraw %}</title>
    </head>
    <body>
        <h1>{% raw %}{{{% endraw %} title {% raw %}}}{% endraw %}</h1>
        <p>{% raw %}{{{% endraw %} content {% raw %}}}{% endraw %}</p>
    </body>
</html>
